.savedArticles {
    border: solid 1px rgb(53, 45, 53);
    width: 740px;
    padding: 20px;
    margin: 2px;
}

.savedAlready {
    float: right;
    border: none;
    background-color: rgb(153, 134, 28);
}

.savedAlready:hover {
    background-color: rgb(90, 36, 36);
}